*{
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: ;
    grid-template-columns: 200px 200px;
}

.articulo{
    background-color: yellow;

}

.articulo2{
    background-color: red;
}

.articulo3{
    background-color: aqua;
}



